current-info dl {
  font-family: monospace;
  font-size: .9em;
  font-weight: bold;
  text-align: center;
  color: hsl(122, 39%, 49%);
}

current-info dd span:nth-child(1){
  text-decoration: underline;
}

current-info dd span {
  text-decoration: none;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-header>a {
  color: hsl(122, 39%, 49%);
  transition: .4s;
}

.navbar-default .navbar-nav>li>a:hover:not(:focus) {
  background-color: hsl(122, 39%, 79%);
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li.active>a,
.navbar-default .navbar-nav>li.active>a:hover,
.navbar-default .navbar-nav>li.active>a:focus,
.navbar-default .navbar-header>a:hover {
  background-color: hsl(122, 39%, 49%);
  color: #f8f8f8;
  outline: none;
}

td, th {
  text-align: center;
}

td.ellipsis {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.currency,
span[uib-popover] {
  cursor: pointer;
}

.center-account {
  margin: 0 auto;
  width: 500px;
}

.indent {
  margin-bottom: 30px;
}

.popover-inner {
  word-wrap: break-word;
  /*overflow: scroll;*/
} 