<h1>Accounts</h1>
<h4>Toatal balance: {{$ctrl.totalBalance}}</h4>
<table>
    <tr>
        <th>Current</th>
        <th>Account</th>
        <th>Balance</th>
    </tr>
    <tr ng-repeat="account in $ctrl.accounts">
        <td><span ng-if="account.number === $ctrl.currentAccount">&#8688;</span></td>
        <td>{{account.number}}</td>
        <td>{{account.balance}}</td>
        <td>
          <button ng-click="$ctrl.setAsCurrent(account.number)">
            Set As Current Account
          </button>
        </td>
    </tr>
</table>
<br />
<br />
<hr />
<h1>Generate New Account</h1>

<form novalidate name="form">
  <label>Type in Your Password
    <!-- <input type="password" name="password" ng-model="password" pattern="\w{8,20}" required/> -->
    <input type="password" name="password" ng-model="password"/>
  </label><br>

  <label>Once More Please ;)
    <!-- <input type="password" name="passwordConfirm" ng-model="passwordConfirm" required/> -->
    <input type="password" name="passwordConfirm" ng-model="passwordConfirm"/>
  </label><br>

  <input type="submit"
         ng-click="$ctrl.createAccount(password)"
         ng-disabled="form.password.$invalid || form.passwordConfirm.$invalid || password !== passwordConfirm"
         value="Generate New Account"/>
</form>
<p>New Account: {{$ctrl.newAccount}}</p>
