<!--<div class="row center-account indent">
    <div class="row">
        <form class="form-inline">
            <div class="form-group">
                
            </div>
        </form>
    </div>
</div>-->

<h1 class="text-center">Accounts</h1>
<h4 class="text-center">Total balance:
  <span class="text-info">
    {{$ctrl.totalBalance | number:2}} ETH
    </span>
</h4>
<table class="table table-condensed">
    <tr>
        <th>Current</th>
        <th>Balance
          <currency-label cathegory="inEther"></currency-label>
        </th>
    </tr>
    <tr ng-repeat="account in $ctrl.accounts" 
        ng-class="{
                  'success': account.number === $ctrl.currentAccount
                }">
        <td class="ellipsis">
          <span uib-popover="{{account.number}}" popover-placement="top-left">
            {{account.number}}
          </span>
        </td>
        <td>
          <span ng-show="$ctrl.inEther">
            {{account.balance | number:2}} ETH
          </span>
          <span ng-hide="$ctrl.inEther">
            {{account.balance * $ctrl.etherPrice| number:2}} $
          </span>
        </td>
        <td>
          <button class="btn btn-default"
                  ng-class="{
                    'btn-success': account.number === $ctrl.currentAccount
                  }"
                  ng-disabled="account.number === $ctrl.currentAccount"
                  ng-click="$ctrl.setAsCurrent(account.number)">
            Set As Current Account
          </button>
        </td>

        <td>
          <input type="password" 
                ng-model="password" 
                class="form-control" 
                id="accountPassword" 
                placeholder="Account password"/>
        </td>
        <td>
          <button ng-click="$ctrl.unlockAccount(password, account.number); password='';" 
                  class="btn btn-primary">Unlock account</button>
        </td>
    </tr>
</table>

<h1 class="text-center">Generate New Account</h1>

<form novalidate name="form">
  <div class="form-group">
    <div class="input-group">
      <label class="input-group-addon" for="passwordInput">Type in Your Password</label>
      <input class="form-control" type="password" id="passwordInput" ng-model="password"/>
    </div>    
  </div>

  <div class="form-group">
    <div class="input-group">
      <label class="input-group-addon" for="passwordConfirm">Once More Please ;)</label>
      <input class="form-control" type="password" id="passwordConfirm" ng-model="passwordConfirm"/>
    </div>
  </div>
  
  <div class="form-group text-center">
    <input type="submit" class="btn btn-primary"
         ng-click="$ctrl.createAccount(password)"
         ng-disabled="form.password.$invalid || form.passwordConfirm.$invalid || password !== passwordConfirm"
         value="Generate New Account"/>
  </div>
  
</form>
<p ng-if="$ctrl.newAccount">New Account: {{$ctrl.newAccount}}</p>
