td, th {
  text-align: center;
}

td.ellipsis {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.currency {
  cursor: pointer;
}

.nav__list {
  list-style: none;
  padding: 0;
  padding-top: 10px;
  margin: 0 auto;
  display: block;
  width: 500px;
}

.nav__list li {
  display: inline-block;
  padding-right: 30px;
}

.center-account {
  margin: 0 auto;
  width: 500px;
}

.indent {
  margin-bottom: 30px;
}

current-info dl {
  font-family: monospace;
  font-size: .9em;
  font-weight: bold;
  text-align: center;
  color: #4caf50;
}

current-info dd {
  text-decoration: underline;
}