<table class="table table-bordered table-striped table-hover">
  <tr>
    <th>ID</th>
    <th ng-if="ordersTableCtrl.type === 'buy'">DO</th>
    <th ng-if="ordersTableCtrl.type === 'sell'">DSO</th>
    <th>Volume GB</th>
    <th>Price Per GB<br />
      <currency-label cathegory="pricePerGB"></currency-label>
    </th>
    <th>Connection Info</th>
    <th ng-if="ordersTableCtrl.type === 'buy'">Initial Amount<br />
      <currency-label cathegory="weiInitialAmount"></currency-label>
    </th>
  </tr>

  <tr
    ng-repeat="o in ordersTableCtrl.tableData"
    ng-if="ordersTableCtrl.owner === 'public' ||
           o.DO === ordersTableCtrl.currentAccount">
    <td>{{o.id}}</td>
    <td class="ellipsis">
      <span uib-popover="{{o.DO}}" popover-placement="top-left">
        {{o.DO}}
      </span>
    </td>
    <td>{{o.volumeGB}}</td>
    <td>
      <span ng-show="ordersTableCtrl.inEther.pricePerGB">
        {{o.pricePerGB * 1 | number:2}} ETH
      </span>
      <span ng-hide="ordersTableCtrl.inEther.pricePerGB">
        {{o.pricePerGB * ordersTableCtrl.etherPrice | number:2}} $
      </span>
    </td>
    <td class="ellipsis">
      <span uib-popover="{{o.connectionInfo}}" popover-placement="top-left">
        {{o.connectionInfo}}
      </span>
    </td>

    <!-- Buy Order -->
    <td ng-if="ordersTableCtrl.type === 'buy'">
      <span ng-show="ordersTableCtrl.inEther.weiInitialAmount">
        {{o.weiInitialAmount * 1 | number:2}} ETH
      </span>
      <span ng-hide="ordersTableCtrl.inEther.weiInitialAmount">
        {{o.weiInitialAmount * ordersTableCtrl.etherPrice | number:2}} $
      </span>
    </td>

    <!-- Create SC from Public -->
    <td ng-if="ordersTableCtrl.owner === 'public'">
      <button ng-click="ordersTableCtrl.openSyncModal(o.connectionInfo, o.DO, o.index, o.id, ordersTableCtrl.type)"
              class="btn btn-sm btn-success">
        Go to Sync
      </button>
    </td>

    <td ng-if="ordersTableCtrl.owner === 'me'">
      <button ng-click="ordersTableCtrl.cancelOrder(ordersTableCtrl.type, o.index, o.id)" class="btn btn-success">
        Cancel
      </button>
    </td>
  </tr>
</table>

<p ng-show="!ordersTableCtrl.tableData.length">No Orders for Today, Sorry...</p>
