<table class="table table-bordered table-striped table-hover">
  <tr>
    <th>ID</th>
    <th>DO</th>
    <th>Volume GB</th>
    <th>Price Per GB</th>
    <th>Connection Info</th>
    <th ng-if="ordersTableCtrl.type === 'buy'">Wei Initial Amount</th>
  </tr>

  <tr
    ng-repeat="o in ordersTableCtrl.tableData"
    ng-if="ordersTableCtrl.owner === 'public' ||
           o.DO === ordersTableCtrl.currentAccount">
    <td>{{o.id}}</td>
    <td>{{o.DOShort}}</td>
    <td>{{o.volumeGB}}</td>
    <td>{{o.pricePerGB}}</td>
    <td>{{o.connectionInfo}}</td>

    <!-- Buy Order -->
    <td ng-if="ordersTableCtrl.type === 'buy'">
      {{o.weiInitialAmount}}
    </td>

    <!-- Create SC from Public -->
    <td ng-if="ordersTableCtrl.owner === 'public'">
      <div class="form-group">
        <label>
          My connection Info
          <input type="text" ng-model="connectionInfo" class="form-control">
        </label>
        <button ng-click="ordersTableCtrl.createStorageContract(o.index, o.id, ordersTableCtrl.type, connectionInfo)"
                ng-disabled="!connectionInfo" class="btn btn-sm btn-success">
                Create Storage Contract
      </button>
      </div>
    </td>

    <td ng-if="ordersTableCtrl.owner === 'me'">
      <button ng-click="ordersTableCtrl.cancelOrder(ordersTableCtrl.type, o.index, o.id)" class="btn btn-success">
        Cancel
      </button>
    </td>
  </tr>
</table>

<p ng-show="!ordersTableCtrl.tableData.length">No Orders for Today, Sorry...</p>
