<table class="table table-bordered table-striped table-hover">
  <tr>
    <th>ID</th>
    <th>DO address</th>
    <th>DSO address</th>
    <th>DOConnectionInfo</th>
    <th>DSOConnectionInfo</th>
    <th>Volume, GB</th>
    <th>Start Date</th>
    <th>Stop Date</th>
    <th>Price per GB</th>
    <th>Wei left to withdraw</th>
    <th>Withdrawed at date</th>
    <!-- <th>Wei allowed to withdraw</th> -->
  </tr>
  <tr ng-repeat="sc in SCCtrl.scData"
      ng-if="SCCtrl.owner === 'public' ||
             sc.DOAddress == SCCtrl.currentAccount ||
             sc.DSOAddress === SCCtrl.currentAccount">
    <td>{{sc.id}}</td>
    <td>{{sc.DOAddressShort}}</td>
    <td>{{sc.DSOAddressShort}}</td>
    <td>{{sc.DOConnectionInfo}}</td>
    <td>{{sc.DSOConnectionInfo}}</td>
    <td>{{sc.volumeGB}}</td>
    <td>{{sc.startDate}}</td>
    <td>{{sc.stopDate}}</td>
    <td>{{sc.pricePerGB}}</td>
    <td>{{sc.weiLeftToWithdraw}}</td>
    <td>{{sc.withdrawedAtDate}}</td>
    <!-- <td>{{sc.weiAllowedToWithdraw}}</td> -->

    <td>
      <button
      ng-if="sc.DOAddress === SCCtrl.currentAccount"
      ng-click="SCCtrl.manageStorageContract(sc.index, sc.id, 'startStorageContract')"
      class="btn btn-success">
        Start Storage Contract
      </button>
    </td>
    <td>
      <button ng-click="SCCtrl.manageStorageContract(sc.index, sc.id, 'stopStorageContract')"
              class="btn btn-success">
        Stop Storage Contract
      </button>
    </td>
    <td>
      <button
      ng-if="sc.DSOAddress === SCCtrl.currentAccount"
      ng-click="SCCtrl.manageStorageContract(sc.index, sc.id, 'withdrawFromStorageContract')"
      class="btn btn-success">
        Withdraw From Storage Contract
      </button>
    </td>
    <td ng-if="sc.DOAddress === SCCtrl.currentAccount">
      <button
      ng-click="SCCtrl.manageStorageContract(sc.index, sc.id, 'refillStorageContract', SCCtrl[wei + sc.id])"
      class="btn btn-success">
        Refill Storage Contract
      </button>
      <input type="text" ng-model="SCCtrl[wei + sc.id]" class="form-control" />
    </td>
  </tr>
</table>
