<table class="table table-bordered table-striped table-hover">
  <tr>
    <th>ID</th>
    <th>DO address</th>
    <th>DSO address</th>
    <th>DOConnectionInfo</th>
    <th>DSOConnectionInfo</th>
    <th>Volume, GB</th>
    <th>Start Date</th>
    <th>Stop Date</th>
    <th>Price per GB<br />
      <currency-label cathegory="pricePerGB"></currency-label>
    </th>
    <th>Left to withdraw<br />
      <currency-label cathegory="weiLeftToWithdraw"></currency-label>
    </th>
    <th>Withdrawed at date</th>
    <th>Allowed to withdraw<br />
        <currency-label cathegory="weiAllowedToWithdraw"></currency-label>
      </th>
  </tr>
  <tr ng-repeat="sc in SCCtrl.scData"
      ng-if="SCCtrl.owner === 'public' ||
             sc.DOAddress == SCCtrl.currentAccount ||
             sc.DSOAddress === SCCtrl.currentAccount">
    <td>{{sc.id}}</td>
    <td class="ellipsis">
      <span uib-popover="{{sc.DOAddress}}" 
            popover-placement="top-left">{{sc.DOAddress}}</span>
    </td>
    <td class="ellipsis">
      <span uib-popover="{{sc.DSOAddress}}" 
            popover-placement="top-left">{{sc.DSOAddress}}</span>
    </td>
    <td class="ellipsis">
      <span uib-popover="{{sc.DOConnectionInfo}}" 
            popover-placement="top-left">{{sc.DOConnectionInfo}}
      </span>
    </td>
    <td class="ellipsis">
      <span uib-popover="{{sc.DSOConnectionInfo}}" 
            popover-placement="top-left">{{sc.DSOConnectionInfo}}
      </span>
    </td>
    <td>{{sc.volumeGB}}</td>
    <td>{{sc.startDate}}</td>
    <td>{{sc.stopDate}}</td>
    <td>
      <span ng-show="SCCtrl.inEther.pricePerGB">
        {{sc.pricePerGB * 1 | number:2}} ETH
      </span>
      <span ng-hide="SCCtrl.inEther.pricePerGB">
        {{sc.pricePerGB * SCCtrl.etherPrice | number:2}} $
      </span>
    </td>
    <td>
      <span ng-show="SCCtrl.inEther.weiLeftToWithdraw">
        {{sc.weiLeftToWithdraw * 1 | number:2}} ETH
      </span>
      <span ng-hide="SCCtrl.inEther.weiLeftToWithdraw">
        {{sc.weiLeftToWithdraw * SCCtrl.etherPrice | number:2}} $
      </span>
    </td>
    <td>{{sc.withdrawedAtDate}}</td>
    <td>
      <span ng-show="SCCtrl.inEther.weiAllowedToWithdraw">
        {{sc.weiAllowedToWithdraw * 1 | number:2}} ETH
      </span>
      <span ng-hide="SCCtrl.inEther.weiAllowedToWithdraw">
        {{sc.weiAllowedToWithdraw * SCCtrl.etherPrice | number:2}} $
      </span>
    </td>

    <td ng-if="SCCtrl.owner == 'me'">
      <button
      ng-if="sc.DOAddress === SCCtrl.currentAccount"
      ng-click="SCCtrl.manageStorageContract(sc.index, sc.id, 'startStorageContract')"
      class="btn btn-success">
        Start Storage Contract
      </button>
    </td>
    <td ng-if="SCCtrl.owner == 'me'">
      <button ng-click="SCCtrl.manageStorageContract(sc.index, sc.id, 'stopStorageContract')"
              class="btn btn-success">
        Stop Storage Contract
      </button>
    </td>
    <td ng-if="SCCtrl.owner == 'me'">
      <button
      ng-if="sc.DSOAddress === SCCtrl.currentAccount ||
            (sc.DOAddress === SCCtrl.currentAccount &&
             sc.stopDate !== '-')"
      ng-click="SCCtrl.manageStorageContract(sc.index, sc.id, 'withdrawFromStorageContract')"
      class="btn btn-success">
        Withdraw From Storage Contract
      </button>
    </td>
    <td ng-if="sc.DOAddress === SCCtrl.currentAccount && SCCtrl.owner == 'me'">
      <button
      ng-click="SCCtrl.manageStorageContract(sc.index, sc.id, 'refillStorageContract', SCCtrl[wei + sc.id])"
      class="btn btn-success">
        Refill Storage Contract
      </button>
      <input type="text" ng-model="SCCtrl[wei + sc.id]" class="form-control" />
    </td>
  </tr>
</table>
