<div class="modal-header text-center">
  <button type="button" class="close" data-dismiss="modal"
          ng-click="syncModalCtrl.cancel()">
    &times;
  </button>
  <h3 class="modal-title">Sync your devices</h3>
</div>

<div class="modal-body text-center" id="modal-body">

  <p>
    <span class="label label-success">My Device ID: </span>
    <span class="text-success">{{syncModalCtrl.myDeviceId}}</span>
  </p>

  <div class="form-group">
    <p>{{syncModalCtrl.configResult}}</p>
    <button class="btn btn-primary" ng-click="syncModalCtrl.getConfig()">Config</button>
  </div>


  <div class="form-group">
    <label>Api key
      <input type="text" ng-model="syncModalCtrl.apiKey" class="form-control">
    </label>
    <button class="btn btn-warning"
            ng-click="syncModalCtrl.setApiKey(syncModalCtrl.apiKey)">
            Set New apiKey
    </button>
  </div>


  <div class="form-group">
    <label>Device id
      <input type="text" ng-model="syncModalCtrl.deviceId" class="form-control"/>
    </label>
  </div>


  <div class="form-group">
    <label>Device name
      <input type="text" ng-model="syncModalCtrl.deviceName" class="form-control">
    </label>
  </div>

  <div class="form-group">
    <span>{{syncModalCtrl.errorMessage}}</span>
    <button class="btn btn-warning"
            ng-click="syncModalCtrl.addDevice()"
            ng-disabled="!syncModalCtrl.myDeviceId">
      Add device
    </button>
  </div>


  <div class="form-group" ng-if="syncModalCtrl.resolve.type == 'sell'">
    <label>Initial Amount
      <currency-label cathegory="initialAmount"></currency-label>
      <div class="input-group">
        <input type="number" 
               ng-model="syncModalCtrl.weiInitialAmount" 
               class="form-control"
               placeholder="Money you want to put in contract...">

        <span class="input-group-addon">
          <span ng-show="syncModalCtrl.inEther.initialAmount">
            {{(syncModalCtrl.weiInitialAmount || 0) * syncModalCtrl.etherPrice | number:2}} $
          </span>
          <span ng-hide="syncModalCtrl.inEther.initialAmount">
            {{(syncModalCtrl.weiInitialAmount || 0) / syncModalCtrl.etherPrice | number:2}} ETH
          </span>
        </span>
      </div>
      
    </label>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-lg btn-success" type="button"
          ng-click="syncModalCtrl.ok()"
          ng-disabled="!syncModalCtrl.creationAllowed ||
                      (syncModalCtrl.resolve.type == 'sell' &&
                      !syncModalCtrl.weiInitialAmount)">
          <!-- TODO: add tooltip -->
    Create Contract
  </button>
  <button class="btn btn-lg btn-danger" type="button" ng-click="syncModalCtrl.cancel()">Cancel</button>
</div>
