<dl>
  <dt>Current Account</dt>
  <dd>
    <span>{{currentInfoCtrl.currentAccount}}</span>
    <span class="label label-danger"
          ng-if="!currentInfoCtrl.currentAccount">not found</span>
  </dd>
  <dt>Current Contract Address</dt>
  <dd>
    <span>{{currentInfoCtrl.contractAddress}}</span>
    <span class="label label-danger"
          ng-if="!currentInfoCtrl.contractAddress">not set</span>
  </dd>
  <dt>Ethereum node HTTP provider</dt>
  <dd>
    <span>{{currentInfoCtrl.httpProvider}}</span>
    <span class="label label-danger"
          ng-if="!currentInfoCtrl.httpProvider">not set</span>
    </dd>
</dl>
