<div class="row center-account indent">
    <div class="row">
        <form class="form-inline">
            <div class="form-group">
                <label for="accountPassword">Account password:
                    <input type="password" ng-model="password" class="form-control" id="accountPassword" placeholder="Account password"/>
                </label>
                <button ng-click="$ctrl.unlockAccount(password); password='';" class="btn btn-primary">Unlock account</button>
            </div>
        </form>
    </div>
</div>

<div class="row indent">
    <div class="col-lg-6">
        <h1>Buy Orders</h1>

        <h3>Create Buy Order</h3>
        <form>
            <div class="form-group">
                <label>Volume GB:
                    <input type="number" ng-model="cbo.volumeGB" class="form-control" placeholder="Volume GB"/>
                </label>
            </div>
            <div class="form-group">
                <label>Price Per GB:
                    <input type="number" ng-model="cbo.pricePerGB" class="form-control" placeholder="Price Per GB"/>
                </label>
            </div>
            <div class="form-group">
              <label>Connection Info:
                  <input type="text" ng-model="cbo.connectionInfo" class="form-control" placeholder="Connection Info" />
              </label>
            </div>
            <div class="form-group">
                <label>Wei Initial Amount:
                    <input type="number" ng-model="cbo.weiInitialAmount" class="form-control" placeholder="Wei Initial Amount"/>
                </label>
            </div>
            <button ng-click="$ctrl.createBuyOrder(cbo)" ng-disabled="$ctrl.createBuyOrderDisabled" class="btn btn-success">Create Buy Order</button>
        </form>
    </div>
    <div class="col-lg-6">
        <h1>Sell Orders</h1>
        <h3>Create Sell Order</h3>
        <form>
            <div class="form-group">
                <label>Volume GB:
                    <input type="number" ng-model="cso.volumeGB" class="form-control" placeholder="Volume GB"/>
                </label>
            </div>
            <div class="form-group">
                <label>Price Per GB:
                    <input type="number" ng-model="cso.pricePerGB" class="form-control" placeholder="Price Per GB"/>
                </label>
            </div>
            <div class="form-group">
                <label>Connection Info:
                  <input type="text" ng-model="cso.connectionInfo" class="form-control" placeholder="Connection Info" />
                </label>
            </div>
            <button ng-click="$ctrl.createSellOrder(cso);" ng-disabled="$ctrl.createSellOrderDisabled" class="btn btn-success">Create Sell Order</button>
        </form>
    </div>
</div>


<div class="row indent">
  <div class="col-lg-6">
    <h3>All Buy Orders</h3>
    <orders-table
      table-data="$ctrl.buyOrders"
      type="buy"
      owner="public"
      on-create="$ctrl.createStorageContract(orderIndex, orderId, orderType, connectionInfo)">
    </orders-table>
    <label>
      <button type="button" ng-click="$ctrl.getBuyOrders()" class="btn btn-success">Get Buy Orders</button>
    </label>
  </div>

  <div class="col-lg-6">
    <h3>All Sell Orders</h3>
    <orders-table
      table-data="$ctrl.sellOrders"
      type="sell"
      owner="public"
      on-create="$ctrl.createStorageContract(orderIndex, orderId, orderType, connectionInfo)">
    </orders-table>
    <label>
      <button type="button" ng-click="$ctrl.getSellOrders()" class="btn btn-success">Get Sell Orders</button>
    </label>
  </div>
</div>



<div class="row indent">
  <div class="col-lg-6">
    <h3>My Buy Orders</h3>
    <orders-table
      table-data="$ctrl.buyOrders"
      type="buy"
      owner="me"
      on-cancel="$ctrl.cancelOrder(type, index, id)">
    </orders-table>
  </div>
  <div class="col-lg-6">
    <h3>My Sell Orders</h3>
    <orders-table
      table-data="$ctrl.sellOrders"
      type="sell"
      owner="me"
      on-cancel="$ctrl.cancelOrder(type, index, id)">
    </orders-table>
  </div>
</div>


<h1>Storage Contracts</h1>

<h3>All Storage Contracts</h3>
<div class="row indent">
  <storage-contracts
    sc-data="$ctrl.storageContracts"
    owner="public"
    on-contract-manage="$ctrl.manageStorageContract(storageContractIndex, storageContractID, method, wei)">
  </storage-contracts>
</div>
<div class="row indent">
  <label>
    <button type="button" ng-click="$ctrl.getStorageContracts()" class="btn btn-success">Get Storage Contracts</button>
  </label>
</div>

<div class="row indent">
  <h3>My Storage Contracts</h3>
  <storage-contracts
    sc-data="$ctrl.storageContracts"
    owner="me"
    on-contract-manage="$ctrl.manageStorageContract(storageContractIndex, storageContractID, method, wei)">
  </storage-contracts>
</div>
