<div class="row indent">
    <div class="col-lg-6">
        <h1>Buy Orders</h1>

        <h3>Create Buy Order</h3>
        <form class="row" name="cbo-form">

          <div class="form-group">
            <label>Volume:
              <div class="input-group">
                <input type="number"
                      ng-model="cbo.volumeGB"
                      class="form-control"
                      placeholder="Volume you want to buy..."/>
                <span class="input-group-addon">GB</span>
              </div>
            </label>
          </div>

          <div class="form-group">
            <label>Price Per GB:
              <div class="input-group">
                <input type="number"
                      ng-model="cbo.pricePerGB"
                      class="form-control"
                      placeholder="Price you want to pay..."/>
                <span class="input-group-addon">
                  {{(cbo.pricePerGB || 0) * $ctrl.etherPrice | number:2}}$
                </span>
              </div>
            </label>
          </div>

          <div class="form-group">
            <label>Connection Info:
              <div class="input-group">
                <input type="text"
                      ng-model="$ctrl.myDeviceId"
                      class="form-control"
                      placeholder="Your Device ID..." />
                <span class="input-group-addon">

                </span>
              </div>
            </label>
          </div>

          <div class="form-group">
            <label>Initial Amount:
              <div class="input-group">
                <input type="number"
                      ng-model="cbo.weiInitialAmount"
                      class="form-control"
                      placeholder="Amount of ether you put into contract..."/>
                <span class="input-group-addon">
                  {{(cbo.weiInitialAmount || 0) * $ctrl.etherPrice | number:2}}$
                </span>
              </div>
            </label>
          </div>

          <div class="form-group">
            <button ng-click="$ctrl.createBuyOrder(cbo)"
                    ng-disabled="$ctrl.createBuyOrderDisabled"
                    class="btn btn-success">Create Buy Order</button>
          </div>

        </form>
    </div>


    <div class="col-lg-6">
        <h1>Sell Orders</h1>
        <h3>Create Sell Order</h3>

        <form>

          <div class="form-group">
            <label>Volume GB:
              <div class="input-group">
                <input type="number"
                      ng-model="cso.volumeGB"
                      class="form-control"
                      placeholder="Volume GB"/>
                <span class="input-group-addon">
                  GB
                </span>
              </div>
            </label>
          </div>

          <div class="form-group">
            <label>Price Per GB:
              <div class="input-group">
                <input type="number"
                      ng-model="cso.pricePerGB"
                      class="form-control"
                      placeholder="Price Per GB"/>
                <span class="input-group-addon">
                  {{(cso.pricePerGB || 0) * $ctrl.etherPrice | number:2}}$
                </span>
              </div>
            </label>
          </div>

          <div class="form-group">
            <label>Connection Info:
              <div class="input-group">
                <input type="text"
                      ng-model="$ctrl.myDeviceId"
                      class="form-control"
                      placeholder="Connection Info" />
                <span class="input-group-addon">

                </span>
              </div>
            </label>
          </div>

          <div class="form-group">
            <button ng-click="$ctrl.createSellOrder(cso);"
                    ng-disabled="$ctrl.createSellOrderDisabled"
                    class="btn btn-success pull-right">Create Sell Order</button>
          </div>
        </form>
    </div>
</div>


<div class="row indent">
  <div class="col-lg-6">
    <h3>All Buy Orders</h3>
    <orders-table
      table-data="$ctrl.buyOrders"
      type="buy"
      owner="public"
      on-create="$ctrl.createStorageContract(orderIndex, orderId, orderType, connectionInfo, weiInitialAmount)">
    </orders-table>
    <label>
      <button type="button" ng-click="$ctrl.getBuyOrders()" class="btn btn-success">Get Buy Orders</button>
    </label>
  </div>

  <div class="col-lg-6">
    <h3>All Sell Orders</h3>
    <orders-table
      table-data="$ctrl.sellOrders"
      type="sell"
      owner="public"
      on-create="$ctrl.createStorageContract(orderIndex, orderId, orderType, connectionInfo, weiInitialAmount)">
    </orders-table>
    <label>
      <button type="button" ng-click="$ctrl.getSellOrders()" class="btn btn-success">Get Sell Orders</button>
    </label>
  </div>
</div>


<div class="row indent">
  <div class="col-lg-6">
    <h3>My Buy Orders</h3>
    <orders-table
      table-data="$ctrl.buyOrders"
      type="buy"
      owner="me"
      on-cancel="$ctrl.cancelOrder(type, index, id)">
    </orders-table>
  </div>
  <div class="col-lg-6">
    <h3>My Sell Orders</h3>
    <orders-table
      table-data="$ctrl.sellOrders"
      type="sell"
      owner="me"
      on-cancel="$ctrl.cancelOrder(type, index, id)">
    </orders-table>
  </div>
</div>


<h1>Storage Contracts</h1>

<h3>All Storage Contracts</h3>
<div class="row indent">
  <storage-contracts
    sc-data="$ctrl.storageContracts"
    owner="public"
    ether-price="{{$ctrl.etherPrice}}"
    on-contract-manage="$ctrl.manageStorageContract(storageContractIndex, storageContractID, method, wei)">
  </storage-contracts>
</div>
<div class="row indent">
  <label>
    <button type="button" ng-click="$ctrl.getStorageContracts()" class="btn btn-success">Get Storage Contracts</button>
  </label>
</div>

<div class="row indent">
  <h3>My Storage Contracts</h3>
  <storage-contracts
    sc-data="$ctrl.storageContracts"
    owner="me"
    ether-price="{{$ctrl.etherPrice}}"
    on-contract-manage="$ctrl.manageStorageContract(storageContractIndex, storageContractID, method, wei)">
  </storage-contracts>
</div>
